<b>[[$dic.change_password]]</b>
<form action="" method="POST" name="change_password" id="change_password">
  <input name="change_password" type="hidden" value="true" >
  <table>
    <tr>
      <td align="right">[[$dic.new_pass]]</td>
      <td><input name="password[1]" type="password"/></td>
    </tr>
    <tr>
      <td align="right">[[$dic.confirm_password]]:</td>
      <td><input name="password[2]" type="password"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="[[$dic.change]] [[$dic.password]]"/></td>
    </tr>
  </table>
</form>

