<!-- <script src="http://[[$Domain]]/js/editor/ckeditor.js" charset="utf-8" language="javascript" type="text/javascript"></script> -->
<form method="POST" name="Blog" id="Blog" action='/comment'>
<input type='hidden' id='Id' name='Id' value='[[$Id]]'>
<br>
<b>Ваш комментарий:</b><br>
<textarea cols="50" id="Comment" name="Comment" rows="10">
[[$PageText]]
</textarea>
<script type="text/javascript">
//<![CDATA[
CKEDITOR.replace( 'Comment', 
{
//language: '[[$LANG]]',
language: 'ru_RU',
uiColor: '[[$CustomDesign.ckeditor_color]]',
fullPage: 'False',
width: '95%',
height: '300',
toolbar: 'Basic',
toolbar_Basic:
[
    ['Bold','Italic','Underline','Strike','-'],
    ['Outdent','Indent'],
    ['Link','Unlink'],
    ['Smiley','Image'],
    '-',
    ['Undo','Redo'],
    '-', 
    ['RemoveFormat', 'Source'],
    '-',
    ['Maximize']


],
keystrokes:
[
    [ CKEDITOR.CTRL + 83 /*S*/, 'save' ],
    [ CKEDITOR.CTRL + 13, 'save' ]
],


filebrowserUploadUrl : '/?upload=image',
filebrowserImageUploadUrl : '/?upload=image',
filebrowserWindowWidth  : 900,
filebrowserWindowHeight : 900,
filebrowserImageWindowWidth : 900,
filebrowserImageWindowHeight : 900
});
//]]>
</script>
<br>
<input type='submit' value='submit'>
</form>

