[[if $Action neq Images and $Action neq BlogUpdate]]
<link rel="stylesheet" href="/js/superbox/jquery.superbox.css" type="text/css" media="all" />
[[/if]]

[[if $Action eq Images or $Action eq Albums]]
<style type="text/css">
<!--

#ImageBox {
	position:relative;
	float: left;
	width:77px;
	height:77px;
	vertical-align: middle;
}
#ImageBoxNavigation {
	position:absolute;
	width:75px;
	height:22px;
	z-index:1;
	left: 1px;
	top: 55px;
	background-color:black;	
	opacity: 0;
	filter:alpha(opacity=0);
}

#ImageBox229 {
        position:relative;
        float: left;
	width: 229px;
	height: 229px;
}
#ImageBoxNavigation229 {
        position:absolute;
        width:75px;
        height:22px;
        z-index:1;
        left: 154px;
        top: 207px;
        background-color:black;
        opacity: 0;
        filter:alpha(opacity=0);
}

.ImageFont {
	font-size: 8px;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none
}

[[if $Browser eq Safari]]
div.noswfupload input {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 160px;
    background-image: url("[[$StaticFilesPath]]/drophere.gif");
    background-repeat:no-repeat;
}
[[/if]]
-->
</style>

[[/if]]

<style>
body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
[[if isset($CustomDesign.BackgroundColor)]]
background-color: [[$CustomDesign.BackgroundColor]];
[[else]]
background-color: [[$BackgroundColor]];
[[/if]]

[[if isset($CustomDesign.FontColor)]]
color: [[$CustomDesign.FontColor]];
[[else]]
color: [[$FontColor]];
[[/if]]

font-size:16px;
font-family:Georgia, Times, serif;
}
a:link {
[[if isset($CustomDesign.LinkColor)]]
color: [[$CustomDesign.LinkColor]];
[[else]]
color: [[$LinkColor]];
[[/if]]
}

a:visited {
[[if isset($CustomDesign.LinkColor)]]
color: [[$CustomDesign.LinkColor]];
[[else]]
color: [[$LinkColor]];
[[/if]]
}

a:active {
[[if isset($CustomDesign.LinkColor)]]
color: [[$CustomDesign.LinkColor]];
[[else]]
color: [[$LinkColor]];
[[/if]]
}

a:hover {
[[if isset($CustomDesign.LinkColor)]]
color: [[$CustomDesign.LinkColor]];
[[else]]
color: [[$LinkColor]];
[[/if]]
}

#pager_link {
font-size:16px;
}

#pager_nolink {
font-size:16px;
}

#pager_previous {
font-size:16px;
}

#pager_next {
font-size:16px;
}

input.password,input.email {
 font-family: Arial;
 border: 0px solid #ffffff;
 color: Black;
 width:120px;
}


</style>
