[[if $Ammount>0]]
<link rel="stylesheet" href="/js/jquery.jgrowl.css" type="text/css"/>
<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/js/jquery.ui.all.js"></script>
<script type="text/javascript" src="/js/jquery.jgrowl.js"></script>
<script type="text/javascript"> 
 
function openWin(page, wname, width, height) {
        Win=open('', wname,'toolbar=no,scrollbars=yes,status=yes,resizable=yes,height='+height+',width='+width);
        if (!(Win.sms)) {
                if(!width) width=420;
                if(!height) height=400;
                Win=open(page, wname, 'toolbar=no,scrollbars=yes,status=yes,height='+height+',width='+width);
Win.focus();
    }
}
</script>
<script type="text/javascript">
		$.jGrowl.defaults.pool = 2;
		$.jGrowl.defaults.closerTemplate = '<div>Закрыть все сообщения [x]</div>';

                (function($){

                        $(document).ready(function(){
                                
                                $.jGrowl.defaults.closer = true;

                                if ( !$.browser.safari ) {
                                        $.jGrowl.defaults.animateOpen = {
                                                width: 'show'
                                        };
                                        $.jGrowl.defaults.animateClose = {
                                                width: 'hide'
                                        };
                                }
[[section name=sms loop=$Messages]]
                                $.jGrowl('<div onclick=\'openWin("http://[[$Messages[sms].Domain]]/messenger/[[$Messages[sms].AuthorId]]", "[[$Messages[sms].AuthorId]]", "400", "450");$.post("/message",{id:"[[$Messages[sms].Id]]",status:"read"});$(this).parent().trigger("jGrowl.close");\'><table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 60px; "><tbody>	<tr><td width="50px"><img style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dotted; border-right-style: dotted; border-bottom-style: dotted; border-left-style: dotted; border-color: #c5ba95; width: 50px; height: 50px; " src="http://[[$Messages[sms].Domain]]/f/[[$Messages[sms].AvatarHash]].[[$Messages[sms].AvatarFormat]]" /></td><td width="10px"></td></tr></tbody></table><b>Сообщение от <span style="color:#c5ba95;"><u>[[$Messages[sms].NickName]]</u></span></b><br>' + [[$Messages[sms].Text]] + '</div>', { 
	sticky: true, 
	close: function() {
		$.post('/message', { id: "[[$Messages[sms].Id]]", status: "read" }) 
	}
});
[[/section]]
                });
                })(jQuery);

</script>
[[/if]]

