<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 <title>Chat with [[$OpponentNickName]]</title>
 <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
 <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
 <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
 </head>
<frameset name="sms" rows="50%,150">
    <frame name="log" src="/messenger/log/[[$To]]" marginwidth="10" marginheight="10" scrolling="auto" frameborder="0">
    <frame name="input" src="/messenger/input/[[$To]]" marginwidth="0" marginheight="0" scrolling="no" frameborder="0">
</frameset>

