<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 <title>Chat with [[$OpponentNickName]]</title>
 <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
 <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
 <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<!-- <META HTTP-EQUIV="REFRESH" CONTENT="5"> -->

<style type="text/css">
 
body    {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #ffffff;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.in {
    background-color: #99cc66;
}

.out {
    background-color: #cccccc;
}

</style>
<script>
 window.onload = function() {
  window.scrollTo(0, document.body.scrollHeight);
 };
</script>
 <script src='/js/jquery-1.6.1.min.js'></script>
 <script src='http://uranruda.ru:1000/socket.io/socket.io.js'></script>
 <script>
      var socket = io.connect('http://' + document.domain + ':1000');

      socket.on('connect', function () {
        socket.emit('join', '[[$Room]]');
      });

      socket.on('user message', message);

      function message (message) {
        $('#message').clone()
         .find('#header').addClass(message.to == [[$To]]? 'out': 'in').end()
         .find('#from').text(message.nickname).end()
         .find('#text').html(message.text).end()
         .find('#date').text(message.date).end()
         .appendTo($('#log')).show(0, function() {
          window.scrollTo(0, document.body.scrollHeight);
         document.getElementById('soundHandle').play();
        });
      }

 </script>
</head>
<body>
<audio id="soundHandle" style="display: none;" src="/js/IncomingMessage.mp3"></audio>
[[if isset($Unread)]]
<script>
  soundHandle = document.getElementById('soundHandle');
  soundHandle.src = '/js/IncomingMessage.mp3';
  soundHandle.play();
</script>
[[/if]]

<div id="log">
[[if !isset($Messages)]]
<blockquote>
	<span style="font-size:10px;">Пока нету соoбщений.</span>	
</blockquote>
[[else]]
[[section name=Message loop=$Messages]]
[[if $Messages[Message].Type eq Incoming]]

		<table border="0" cellpadding="0" cellspacing="0" style="height: 10px; width: 100%; ">
			<tbody>
				<tr>
					<td align="left" bgcolor="#99cc66" style="width: 10px; " valign="middle">
						&nbsp;</td>
					<td align="left" bgcolor="#99cc66" style="width: 100px; " valign="middle">
						<span style="font-size:10px;"><b>[[$Messages[Message].From]]</b></span></td>
					<td align="center" bgcolor="#99cc66" valign="middle">
						&nbsp;</td>
					<td align="right" bgcolor="#99cc66" style="width: 350px; " valign="middle">
						<span style="font-size:10px;">[[if $Messages[Message].Unread == TRUE]]Новое:[[/if]]  [[$Messages[Message].Date|date_format:"%H:%M, %d/%m/%Y"]]</span></td>
					<td align="right" bgcolor="#99cc66" style="width: 10px; " valign="middle">
						<span style="font-size:10px;"><br />
						</span></td>
				</tr>
			</tbody>
		</table>
[[else]]
	
                <table border="0" cellpadding="0" cellspacing="0" style="height: 10px; width: 100%; ">
                        <tbody>
                                <tr>
                                        <td align="left" bgcolor="#cccccc" style="width: 10px; " valign="middle">
                                                &nbsp;</td>
                                        <td align="left" bgcolor="#cccccc" style="width: 100px; " valign="middle">
                                                <span style="font-size:10px;"><b>[[$Messages[Message].From]]</b></span></td>
                                        <td align="center" bgcolor="#cccccc" valign="middle">
                                                &nbsp;</td>
                                        <td align="right" bgcolor="#cccccc" style="width: 300px; " valign="middle">
                                                <span style="font-size:10px;">[[if $Messages[Message].Unread == TRUE]]Новое:[[/if]] [[$Messages[Message].Date|date_format:"%H:%M, %d/%m/%Y"]]</span></td>
                                        <td align="right" bgcolor="#cccccc" style="width: 10px; " valign="middle">
                                                <span style="font-size:10px;"><br />
                                                </span></td>
                                </tr>
                        </tbody>
                </table>
[[/if]]
[[$Messages[Message].Text]]
[[/section]]
[[/if]]
</div>
<div style="display:none;" id="message">
                <table border="0" cellpadding="0" cellspacing="0" style="height: 10px; width: 100%; " id="header">
                        <tbody>
                                <tr>
                                        <td align="left" style="width: 10px; " valign="middle">
                                                &nbsp;</td>
                                        <td align="left" style="width: 100px; " valign="middle">
                                                <span style="font-size:10px;"><b id="from"></b></span></td>
                                        <td align="center" valign="middle">
                                                &nbsp;</td>
                                        <td align="right" style="width: 300px; " valign="middle">
                                                <span style="font-size:10px;" id="date"></span></td>
                                        <td align="right" style="width: 10px; " valign="middle">
                                                <span style="font-size:10px;"><br />
                                                </span></td>
                                </tr>
                        </tbody>
                </table>
<div id="text"></div>
</div>
</body>
</html>
