[[if isset($AuthorNickName) ]]
<a href="/blog">Журнал [[$AuthorNickName]]</a> ||
[[/if]]
[[if isset($PostsDataOlder) and isset($PostsDataNewer)]]
<<	<a href="/blog/page/[[$PostsDataOlder.Date]]" title="[[$PostsDataOlder.Title]]">Предыдущие записи</a> /
        <a href="/blog/page/[[$PostsDataNewer.Date]]" title="[[$PostsDataNewer.Title]]">Следующие записи</a> >> ||
[[elseif isset($PostsDataNewer) and !isset($PostsDataOlder)]]
	<a href="/blog/page/[[$PostsDataNewer.Date]]" title="[[$PostsDataNewer.Title]]">Следующие записи</a> >> ||
[[elseif isset($PostsDataOlder) and !isset($PostsDataNewer)]]
 <<       <a href="/blog/page/[[$PostsDataOlder.Date]]" title="[[$PostsDataOlder.Title]]">Предыдущие записи</a> ||
[[/if]]

Сортируем по:
[[if $OrderBy eq Date]]
( Дате / <a href='/blog/order/comment'>Комментариям</a> )
[[else]]
( <a href='/blog/order/date'>Дате</a> / Комментариям )
[[/if]]
