<script LANGUAGE="JavaScript">
function colorz(path) {
    
var hex = new Array(6)
hex[0] = "FF"
hex[1] = "CC"
hex[2] = "99"
hex[3] = "66"
hex[4] = "33"
hex[5] = "00"
function display(triplet) {
        
document.bgColor = '#' + triplet
alert('Background color is now ' + triplet)
    }
    
function drawCell(red, green, blue) {
        
//document.write('<a href="#self" onclick="'+path+'.value=\'#' + red + green + blue + '\'">')
document.write('<TD BGCOLOR="#' + red + green + blue + '" width="12" height="12" style="cursor:hand" onclick="'+path+'.value=\'#' + red + green + blue + '\'">')
//document.write('<a href="#self" onclick="'+path+'.value=\'#' + red + green + blue + '\'">')
//document.write('&nbsp;')
//document.write('<IMG SRC="0.gif" BORDER=0 HEIGHT=12 WIDTH=12>')
document.write('</TD>')
    }
    
function drawRow(red, blue) {
        
document.write('<TR>')
for (var i =0; i<6; ++i) {
            
drawCell(red, hex[i], blue)
        }
        
document.write('</TR>')
    }
    
function drawTable(blue) {
        
document.write('<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0>')
for (var i =0; i<6; ++i) {
            
drawRow(hex[i], blue)
        }
        
document.write('</TABLE>')
    }
    
function drawCube() {
        
document.write('<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0><TR>')
for (var i =0; i<6; ++i) {
            
document.write('<TD BGCOLOR=#FFFFFF>')
drawTable(hex[i])
document.write('</TD>')
        }
        
document.write('</TR></TABLE>')
    }
    
drawCube()
}
</script>

<form name='Palette' method='POST'>
 <input type='hidden' name='color_update' value='true'>
  <br><br><b>Цветовые настройки</b>
<br>
  <br>
  <i>Щелкните мышкой на устраивающий вас цвет или вручную задайте его в #RRGGBB формате<br>для прозрачного цвета оставьте поле пустым</i>
  <br>
  
  <br>Цвет шрифта<br><br>
  <script LANGUAGE="JavaScript">colorz('document.Palette.FontColor')</script>

[[if isset($CustomDesign.FontColor)]]
<input name="FontColor" value="[[$CustomDesign.FontColor]]" SIZE="7" MAXLENGTH="7">
[[else]]
<input name="FontColor" value="[[$CustomDesign.FontColor]]" SIZE="7" MAXLENGTH="7">
[[/if]]
  <br><br>
  
[[$Configuration.BackgroundColor]]
  <br>Цвет ссылок<br><br>
  <script LANGUAGE="JavaScript">colorz('document.Palette.LinkColor')</script>

[[if isset($CustomDesign.LinkColor)]]
<input name="LinkColor" value="[[$CustomDesign.LinkColor]]" SIZE="7" MAXLENGTH="7">
[[else]]
<input name="LinkColor" value="[[$configuration.LinkColor]]" SIZE="7" MAXLENGTH="7">
[[/if]]
    <br><br>
	
  <br>Цвет фона журнала<br><br>
  <script LANGUAGE="JavaScript">colorz('document.Palette.BackgroundColor')</script>

[[if isset($CustomDesign.BackgroundColor)]]
<input name="BackgroundColor" value="[[$CustomDesign.BackgroundColor]]" SIZE="7" MAXLENGTH="7">
[[else]]
<input name="BackgroundColor" value="[[$configuration.BackgroundColor]]" SIZE="7" MAXLENGTH="7">
[[/if]]
    <br><br>
	
	<br>

<input class="box" type="submit" name="update" value="Обновить">

</form>
