[[if isset($UserAvatars)]]
[[if $Action eq 'Profile']]
[[if $LoggedIn eq "true" ]]
<br>
<table><tr><td width="770" valign="center">
<b>[[$dic.change_avatar]]</b><br><br>
[[if $AvatarType eq "Default"]]
<img style="float: left; border:1px solid #ffffff;margin:0px auto; vertical-align: middle;" border="0" src="[[$DefaultAvatarUrl]]">
[[else]]
<img style="float: left; border:1px solid #ffffff;margin:0px auto; vertical-align: middle;" border="0" src="[[$ImageUploadUrl]]/[[$MyMainAvatar.Hash]].[[$MyMainAvatar.Format]]">
[[/if]]
</td>
</tr>
<tr>
<td>
[[section name=AvatarSection loop=$UserAvatars]]
<a href="/?avatar=[[$UserAvatars[AvatarSection].Id]]"><img width="50" style="float: left 1px; border:1px solid #ffffff; margin: 0px; vertical-align: top;" border="0" src="[[$ImageUploadUrl]]/[[$UserAvatars[AvatarSection].Hash]].[[$UserAvatars[AvatarSection].Format]]"></a>
[[/section]]
</td></tr></table>
[[/if]]
[[/if]]
[[/if]]
