<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
    <style type="text/css">
    body {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	background-color: #999999;
	font-family: Courier New, Courier, monospace;
	font-size: 14px;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>
<form action="" method="post">
      <textarea name="Text" style="height: 100%; width: 100%; font-family: 'Courier New', Courier, monospace; font-size: 16px;" rows="30" cols="35">[[$Text]]</textarea>
      <br>
      <br>
      <center>
      <input name="Submit" type="submit" value="Submit">
      </center>
</form>
</body></html>
