[[if $Action eq 'Images']]
[[if $LoggedIn eq "true" ]]


    <table><tr><td width="10">&nbsp;</td><td>

            <form method="post" action="/photos" enctype="multipart/form-data">
                <div>
                    <input type="file" name="data" />[[if $Browser eq Safari]]<img src="/i/drophere.gif">[[/if]]
<!--
this brokes JSin uploader. need to find solution...
                    <input type="hidden" name="save_original" value="true">                    
		    <input type="hidden" name="schedule_original_delete" value="true">
-->
                    <input class="submit" type="submit" value="[[$dic.upload_image]]" />

                </div>
            </form>

    </td></tr></table>
 <br><br>
[[/if]]
[[/if]]
