[[if !isset($BlogPosts)]]
Записей пока нету
[[else]]
[[include file='Pager.tpl.html']]
<br><br>
[[section name=Blog loop=$BlogPosts]]
      [[if $BlogPosts[Blog].AuthorId != $_SESSION.UserId  ]]
		<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
			<tbody>
				<tr>
					<td style="width: 10px; ">
						&nbsp;</td>
					<td align="left" style="width: 100px; " valign="top">
						<table style="width: 100%; ">
						<tr>
                                                                        <td>
                                                                                &nbsp;</td>
                                                </tr>
                                                <tr>
                                                                        <td align='center'>
					
 <a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]/blog"><img border='0' width='75' src="/f/[[$BlogPosts[Blog].AuthorAvatarHash]].[[$BlogPosts[Blog].AuthorAvatarFormat]]"></a><br>
                                                <span style="font-size:12px;">
                                                        <a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]">[[$BlogPosts[Blog].AuthorNickName]]</a><br>
		[[if ($_SESSION.LoggedIn == TRUE)]]
		<br>
			<a href="#" onclick="openWin('http://[[$Domain]]/messenger/[[$BlogPosts[Blog].AuthorId]]', '[[$BlogPosts[Blog].AuthorId]]', '500', '550');"><img width="13" height="13" src="/f/sms.gif" alt="messenger" border="0"></a>
		[[/if]]                                                </span>
                                                                                </td>
                                                </tr>
						</table>

						</td>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
							<tbody>
								<tr>
									<td style="width: 10px; ">
										&nbsp;</td>
									<td>
										&nbsp;</td>
									<td style="width: 10px; ">
										&nbsp;</td>
								</tr>
								<tr>
									<td>
										&nbsp;</td>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
											<tbody>
												<tr>
													<td align="left" valign="middle"><span style="font-size:26px;"><strong><span style="font-family:arial,helvetica,sans-serif;">[[$BlogPosts[Blog].Title]]</span></strong></span></td>
													<td style="width: 10px; ">
														&nbsp;</td>
													<td align="right" style="width: 300px; " valign="middle">
														[[$BlogPosts[Blog].Date]]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										&nbsp;</td>
								</tr>
								<tr>
									<td>
										&nbsp;</td>
									<td>
										&nbsp;</td>
									<td>
										&nbsp;</td>
								</tr>
								<tr>
									<td>
										&nbsp;</td>
									<td align="left" valign="top">
										[[$BlogPosts[Blog].ShortText]]</td>
									<td>
										&nbsp;</td>
								</tr>
								<tr>
									<td>
										&nbsp;</td>
									<td align="right" valign="middle">
										<a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]/blog/[[$BlogPosts[Blog].Id]]/[[$BlogPosts[Blog].LastCommentDate]]"><span style="font-size:12px;">[[$BlogPosts[Blog].CommentsAmmount]] comments.</span></a></td>
									<td>
										&nbsp;</td>
								</tr>
								<tr>
									<td>
										&nbsp;</td>
									<td>
										&nbsp;</td>
									<td>
										&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
      [[else]]

               <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
                        <tbody>
                                <tr>
                                        <td style="width: 10px; ">
                                                &nbsp;</td>
                                        <td align="left" style="width: 100px; " valign="top">
                                                <table style="width: 100%; ">
                                                <tr>
                                                                        <td>
                                                                                &nbsp;</td>
                                                </tr>
                                                <tr>
                                                                        <td align="center">

 <a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]/blog"><img border='0' width='75' src="/f/[[$BlogPosts[Blog].AuthorAvatarHash]].[[$BlogPosts[Blog].AuthorAvatarFormat]]"></a><br>
                                                <span style="font-size:12px;">
                                                        <a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]">[[$BlogPosts[Blog].AuthorNickName]]</a><br>
                                                </span>
                                                                                </td>
                                                </tr>
                                                </table>

                                                </td>
                                        <td>
                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
                                                        <tbody>
                                                                <tr>
                                                                        <td style="width: 10px; ">
                                                                                &nbsp;</td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td style="width: 10px; ">
                                                                                &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td>
                                                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; ">
                                                                                        <tbody>
                                                                                                <tr>
                                                                                                        <td align="left" valign="middle"><span style="font-size:26px;"><strong><span style="font-family:arial,helvetica,sans-serif;">[[$BlogPosts[Blog].Title]]</span></strong></span></td>
                                                                                                        <td style="width: 10px; ">
                                                                                                                &nbsp;</td>
                                                                                                        <td align="right" style="width: 300px; " valign="middle">
                                                                                                                [[$BlogPosts[Blog].Date]]</td>
                                                                                                </tr>
                                                                                        </tbody>
                                                                                </table>
                                                                        </td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td align="left" valign="top">
                                                                                [[$BlogPosts[Blog].ShortText]]</td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                &nbsp;</td>
<td align="right" valign="middle"><a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]/blog/[[$BlogPosts[Blog].Id]]/[[$BlogPosts[Blog].LastCommentDate]]"><span style="font-size:12px;">[[$BlogPosts[Blog].CommentsAmmount]] comments.</span></a> / <a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]/blog/[[$BlogPosts[Blog].Id]]/edit"><span style="font-size:12px;">edit</span></a> / <a href="http://[[$BlogPosts[Blog].AuthorNickName]].[[$Domain]]/blog/[[$BlogPosts[Blog].Id]]/delete"><span style="font-size:12px;"><font color="red">delete</font></span></a></td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                        <td>
                                                                                &nbsp;</td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </td>
                                </tr>
                        </tbody>
                </table>
     [[/if]]
[[/section]]
<br><br>
[[include file='Pager.tpl.html']] || <a href="#top">Наверх</a>
[[/if]]
