<table>
 <tr>
  <td width="500">

  [[section name=DaySection loop=$ImagesInOneAlbum]]
    [[if $smarty.section.DaySection.iteration eq 1]]
    <div id="ImageBox229" align="center"><a href="[[$ImageUploadUrl]]/500/[[$ImagesInOneAlbum[DaySection].Hash]].[[$ImagesInOneAlbum[DaySection].Format]]" rel="superbox[gallery][[[$ImagesInOneAlbum[DaySection].AlbumId]]]"><img style="float: left; border:1px solid #ffffff;margin:0px auto; vertical-align: middle;" border="0" src="[[$ImageUploadUrl]]/229/[[$ImagesInOneAlbum[DaySection].Hash]].[[$ImagesInOneAlbum[DaySection].Format]]"></a></div>
    [[/if]]
    [[if $smarty.section.DaySection.iteration != 1]]

<div id="ImageBox" align="center"> <a href="[[$ImageUploadUrl]]/500/[[$ImagesInOneAlbum[DaySection].Hash]].[[$ImagesInOneAlbum[DaySection].Format]]" rel="superbox[gallery][[[$ImagesInOneAlbum[DaySection].AlbumId]]]"><img style="float: left; border:1px solid #ffffff;margin:0px auto; vertical-align: middle;" border="0" src="[[$ImageUploadUrl]]/75/[[$ImagesInOneAlbum[DaySection].Hash]].[[$ImagesInOneAlbum[DaySection].Format]]"></a>
</div>
    [[/if]]
  [[/section]]
      </td>
   </tr>
</table>
