<style>
/* Css Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
th{font-style:normal;font-weight:normal;}
ul li{list-style:none;}
th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner{border-top:0; padding-top:0;}

/* Global Styles */
body{background:url(http://chattlers.com/static/images/bg.gif); color:#333; font:18px "Trebuchet MS", Arial, Helvetica, sans-serif; overflow:hidden;} .layout-main, .layout-inner{background:url(http://chattlers.com/static/images/bg.png) no-repeat center top; width:960px; margin:0 auto; padding-bottom:30px;} .layout-inner{background:url(http://chattlers.com/static/images/light.png) no-repeat left top;} a{color:#0c81b8; text-shadow:1px 1px #fff;} a:hover{text-decoration:none;}
</style>
<a href="[[$PrePageUri]]">[[$PrePageUri]]</a>
<br><br>
[[section name=Page loop=$Revisions]]
  [[if $Revisions[Page].Status neq 'Deleted']]
    [[if $Revisions[Page].Version eq $CurrentVersion]]
   	<b>[[$Revisions[Page].Version]] at [[$Revisions[Page].Date]] [[$Revisions[Page].Title]] (<a href='?delete=[[$Revisions[Page].Id]]'><font color='red'>Delete</font></a>) by ([[$Revisions[Page].Authors]]).</b><br>
    [[else]]
	[[$Revisions[Page].Version]] at [[$Revisions[Page].Date]] [[$Revisions[Page].Title]] (<a href='?delete=[[$Revisions[Page].Id]]'><font color='red'>Delete</font></a>) by ([[$Revisions[Page].Authors]]).<br>
    [[/if]]
  [[else]]
     <font color='grey'>[[$Revisions[Page].Version]] at [[$Revisions[Page].Date]] <s>[[$Revisions[Page].Title]]</s> (<a href='?undelete=[[$Revisions[Page].Id]]'>Recover</a>) by ([[$Revisions[Page].Authors]]), deleted by ([[$Revisions[Page].Terminator]]).</font><br>
  [[/if]]

[[/section]]
</blockquote>
</blockquote>
