<form class="well form-inline" method="POST">
      <input type='text' class="input-small span5" name='email' placeholder="введите email администратора..."></p>
[[if $Human != 'yes']]
      <p><input type="text" class="input-small span3" name="captcha" placeholder="введите цифры -->"/>
      <img src="/?captcha" alt="[[$dic.Plase_enter_num_d]]" border="0" name="captcha" title="введите цифры -->"></p>
[[/if]]

  <input type="submit" class="btn btn-primary " value="восстановить пароль"/>
</form>

