<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Powered by SiteBrush | sitebrush.com -->
<html id="SiteBrush">
 <head>
[[if isset($Title) and $Title!='']]
 <title>[[$Title]]</title>
[[/if]]
 <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
[[if isset($Tags) and $Tags!='']]
 <meta name="keywords" content="[[$Tags]]">
[[/if]]
 <link href="/[[$StaticFolder]]/css/bootstrap.css" rel="stylesheet">
 </head>
<body>
<div style="margin-left: 40px; margin-top: 40px; margin-right: 40px; margin-bottom: 40px;">       
<div class='page-header'><h1><a href='/'>[[$Domain]]</a>[[if isset($Title)]] <small>| [[$Title]]</small>[[/if]]</h1></div>
