<style>
#Text {
height:100%;
width:100%;
};
</style>
<form action="[[$FormAction]]" method="POST" name="Wiki" id="Wiki">
<textarea cols="100" id="Text" name="Text" rows="50">
[[$PageText]]
</textarea>
<script type="text/javascript">
//<![CDATA[
CKEDITOR.replace( 'Text', 
		{
fullPage : false,
uiColor : '#cccccc',
language : 'ru',
tabSpaces : '4',
colorButton_enableMore : true,
width : '100%',
height : '700',
toolbar_Full :
[
['Source','-','Save','docprops','NewPage','Preview','-','Templates'],
['Cut','Copy','Paste','PasteText','PasteFromWord','-','Print', 'SpellChecker', 'Scayt'],
['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],
['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'],
'/',
['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
['Link','Unlink','Anchor'],
['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak', 'Iframe'],
'/',
['Styles','Format','Font','FontSize'],
['TextColor','BGColor'],
['Maximize']
	],
extraPlugins : 'docprops',
enterMode : CKEDITOR.ENTER_BR,
filebrowserUploadUrl : '/?upload=file',
filebrowserImageUploadUrl : '/?upload=image',
filebrowserWindowWidth  : 800,
filebrowserWindowHeight : 600
		});
//]]>
</script>
</form>
